body, header p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}
hr {
    margin-right: 10%;
}

/*header*/
body header.head{
    background-color: #2829A5;
    width: 100%;
    padding: 20px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 8px;
}
.head h1{
    text-align: center;
    color: white;
    font-size: 4em;
}
.head p{
    text-align: center;
    color: ivory;
}

/*navigation*/
nav {
    width: 100%;
    background-color: #F56D13;
    padding-left: 10%;
}
nav a {
    width: 100px;
    display: inline-block;
    text-align: center;

    text-decoration: none;
    color: rgb(50, 51, 53);
    padding: 8px;
    font-size: 1.3em;
}
nav a:hover {
    background-color: rgb(245, 130, 54);
}

/*layout*/
div#left-container{
    width: 60%;
    float: left;
    margin-left: 9%;
}
div#right-container{
    margin-left: 2%;
    width: 20%;
    float: left;
}
footer{
    background-color: #e2e2e2;
    clear: both;
    width: 100%;
    text-align: center;
}